# <span style="color:darkblue"> Lecture 2: Objects, Variables and Lists </span>

<font size="5"> 

In this notebook we will:

- Introduce "objects" and their corresponding data types
- Learn how to assign values to **variables**
- Cover **lists** - which are collections of objects

# <span style="color:darkblue"> 1. Objects and Data Types </span>

## Almost everything in Python is an "object"
- ### The built-in number " 3 " is an object
- ### The phrase " "Hello World!" " is an object. (The number of quotation marks I typed is intentional)
- ### Each object has a **type** (or a **class**)

### Some common object types are
* ### Integers (int): "Whole numbers" including zero and negatives 
* ### Floating-point numbers (float): Numbers with decimals
* ### Strings (str): A sequence of characters representing text. 


### We can use the built-in Python function "type" to see what an object's type is. We pass the object as an "argument" (or input) to the function.

In [1]:
type(3)

int

In [2]:
type(3.25)

float

In [3]:
type("Hello World!")

str

### Use the "print" function if you want a single code cell to print out multiple things:

In [5]:
type(3) # doesn't get printed
type(3.25) # doesn't get printed
type("Hello World!") # gets printed

str

In [7]:
print(type(3))
print(type(3.25))
print(type("Hello World!"))

<class 'int'>
<class 'float'>
<class 'str'>

#### (but the formatting of the printing might be a little different)

In [8]:
# You can define strings with either single or double quotations.
type('Hello World!')

str

In [9]:
# But you can't mix single and double quotes:
type('Hello World!")

SyntaxError: unterminated string literal (detected at line 2) (1650452874.py, line 2)

In [ ]:
# The flexibility of using either single or double quotes is useful when you want to include a quote character inside a string.
print("Today's lecture is about Jupyter notebooks.")
print('In Python, "classes" and "types" are essentially synonymous.')
print() # prints a blank line
# use both single and double quotes in the same string by adding a backslash in front
print('In today\'s lecture we learned that "classes" and "types" are essentially synonymous.')
print("In today's lecture we learned that \"classes\" and \"types\" are essentially synonymous.")

Today's lecture is about Jupyter notebooks.
In Python, "classes" and "types" are essentially synonymous.

In today's lecture we learned that "classes" and "types" are essentially synonymous.
In today's lecture we learned that "classes" and "types" are essentially synonymous.

In [16]:
# Another common type is "built-in functions"
type(print)

builtin_function_or_method

In [25]:
import math 
type(math.sqrt)
type(math.sqrt(3))
print(type(math.sqrt),type(math.sqrt(3)))

<class 'builtin_function_or_method'> <class 'float'>

# <span style="color:darkblue"> 2. Variables </span>

* ### We usually want to use **variables**, which is "a name that refers to a value".
* ### Another way to think about it: a variable is a "named storage location" where we save values for later use
* ### Variables can be created using the **assignment operator** "="
* ### **WARNING**: in Python, "=" is NOT the "equals sign". It is the **assignment operator**

### Put your hand over your heart and repeat these words: "**I will not call the assignment operator an equal sign**"
(Actually, it common to call it an "equal sign" when informally discussing code. I do this too, I am just trying to drive the point home)

In [26]:
x = 3
y = 3.25

## What happened in the above code cell?
### 1. We took the built-in number 3 (an integer) and **assigned** this value to a new variable, called "x"
### 2. We took the built-in number 3.25 (a float) and **assigned** this value to a new variable, called "y"

#### Notice I did **not** say 'we created a variable called "x" and gave it the value 3'. Everything to the right of "=" happens first.

In [27]:
# you can check the type of a variable after you define it:
print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

### Or, you can click "Jupyter Variables" in the top panel of the notebook to see the variables that have been created

In [30]:
# Consider the following block of code:
z = 6
print(z)
z = z + 1
print(z)

# What do you think will be printed?

# How should we interpret what happened?

6
7

### This is not an algebra class, we do not have to call our variables "x,y,z, etc."
* ### Variable names can include letters (A-Z) and (a-z), numbers (0-9), and the underscore character "_"
* ### Variable names cannot start with a number
* ### For readable code, choose **descriptive** variable names

### Question: A vinyl record costs $32.99. The sales tax in Fulton County is 8.9%, while the sales tax in DeKalb County is 8%. How much more would you pay if you purchased it in DeKalb county?

In [40]:
record_price = 32.99
fulton_tax_rate = 0.089
dekalb_tax_rate = 0.08

fulton_cost = record_price + (record_price * fulton_tax_rate)
dekalb_cost = record_price + (record_price * dekalb_tax_rate)

price_difference = fulton_cost - dekalb_cost
print("dekalb cost:", dekalb_cost)
print("fulton cost:", fulton_cost)
print("difference:",price_difference)

dekalb cost: 35.629200000000004
fulton cost: 35.92611
difference: 0.2969099999999969

In [59]:
# When calculating the price after sales tax, stores typically round to the nearest cent.

record_price = 32.99
fulton_tax_rate = 0.089
dekalb_tax_rate = 0.08

fulton_cost = record_price + (record_price* fulton_tax_rate)
# round to 2 decimal places
fulton_cost = round(fulton_cost, 2) 

dekalb_cost = record_price + (record_price * dekalb_tax_rate)
dekalb_cost = round(dekalb_cost, 2) # round to 2 decimal places

price_difference = round((fulton_cost - dekalb_cost),2)
print(price_difference) # ?????

0.3

### Variables do not have to be numbers

In [ ]:
first_name = "Peter"
last_name = 'Sentz'
course = "QTM (DSci) 151 - Fall 2025, Sections 1 & 2"

print(first_name)
print(type(first_name))

Peter
<class 'str'>

### Variables are case sensitive.

In [52]:
print(Last_name)
print(last_name)

NameError: name 'Last_name' is not defined

### Must refer to variables **exactly** as they were defined

In [53]:
print(firstname)

NameError: name 'firstname' is not defined

### There are many other types besides numbers and strings

In [54]:
import pandas as pd 

car_features = pd.read_csv('data/features.csv')
print(type(car_features))

FileNotFoundError: [Errno 2] No such file or directory: 'data/features.csv'

# Concatenate two or more strings

* ### We saw that two numbers can be added using "+"
* ### The "+" operator can also be used on strings, which concatenates (combines) them

In [ ]:
print("Hello World!")
print("Hello " + "World!")
print("Hello " "World" + "!")

### You can also concatenate strings after they are stored as variables

In [ ]:
full_name = first_name + last_name
print(full_name)

In [ ]:
# What should we do if we want a space between the first and last names?
# Using the variables first_name and last_name, print "Peter Sentz" (with a space in between)

<font size = "5">

Try it yourself!

- Define a variable with your name.
- Define a new variable with your major.
- Print a concantenated string with your name and major

In [ ]:
#  Write your own code here
# Print the phrase "I am [name] majoring in [major]", after defining the two variables below.

name = ...
major = ...

# <span style="color:darkblue"> 3. Lists </span>

### We often want to store multiple objects inside a single named location.

### We can do so by creating "lists"
- #### Lists are always created using square brackets [...]
- #### The elements (items) of the list are separated by commas

In [61]:
# Let's make a list of some of our favorite movies (as strings)
favorite_movies = ["Zootopia","The Avengers","In to the Wild","Evil Dead(2013 remake)"]
print(type(favorite_movies))
print(favorite_movies)

<class 'list'>
['Zootopia', 'The Avengers', 'In to the Wild', 'Evil Dead(2013 remake)']

### We can also count how many elements are in a list, by using the "len" (length) function

In [ ]:
print(len(favorite_movies))

In [65]:
print(favorite_movies[1])
nicos_fav_movies=favorite_movies[1]
print(nicos_fav_movies)


nico_index=1
nicos_fav_movies=favorite_movies[nico_index]
print(nicos_fav_movies)

The Avengers
The Avengers
The Avengers

### Lists can have lists with different types - and you can place values from existing variables too

In [ ]:
q = 12.1
my_list = [2, 0.1, -2, "QTM151", 3.3, "DSci151", q]
print(my_list)

### You can even have a list where one of the elements is itself a list

In [ ]:
another_list = [7, 5, favorite_movies, "20", 20]
print(another_list)

# entries are:
# -> 7 (integer)
# -> 5 (integer)
# -> favorite_movies (list we created above)
# -> the string "20" 
# -> the number 20 (an integer)

## Accessing individual elements from a list

- #### Use square brackets, e.g. another_list[2]
- #### Python lists always start at the **ZERO** position

In [ ]:
print(another_list)

In [ ]:
# We would describe the integer 7 as the "first element" of another_list
# but in Python, this is the "zeroth element" of the list
print(another_list[0])

# maybe, better to say "the first element is in position 0"

In [ ]:
# the second element (the integer 5) is in position 1
print(another_list[1])

In [ ]:
# print the other elements
print(another_list[2])
print(another_list[3])
print(another_list[4])

### You can extract a value from a list, and assign it to a new variable

In [1]:
grocery_list = ["apples", "bananas", "diapers", "bread", "eggs", "milk"]

grocery_item = grocery_list[4]
print(grocery_item) # what will be printed?

eggs

### It is often convenient to save an index to a named variable...you can use this variable to access the corresponding element of the list

In [ ]:
print(favorite_movies)

##